@keyframes rotatedelement {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-10px, 10px) rotate(10deg);
    transform: translate(-10px, 10px) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(5px, -5px) rotate(25deg);
    transform: translate(5px, -5px) rotate(25deg);
  }
  75% {
    -webkit-transform: translate(15px, -5px) rotate(15deg);
    transform: translate(15px, -5px) rotate(15deg);
  }
  to {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
  }
}
@keyframes movedelement {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  50% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  75% {
    -webkit-transform: translate(-10px, 5px);
    transform: translate(-10px, 5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes movedelement2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  50% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  75% {
    -webkit-transform: translate(10px, -5px);
    transform: translate(10px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
}
.rubik {
  font-family: "Rubik";
  font-weight: 600;
}
.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  margin: 0 auto;
  text-align: center;
  height: 80%;
}
.item-dropdown::after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 17px;
  margin-left: 7px;
  vertical-align: middle;
}
.sub-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 15px;
  z-index: 2;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-45deg) translateY(1rem);
  -ms-transform: rotate(-45deg) translateY(1rem);
  transform: rotate(-45deg) translateY(1rem);
  border-radius: 3px;
  background: #fff;
  box-shadow: none;
}
.navbar li a:hover + .sub-menu,
.sub-menu:hover {
  display: block !important;
}
.btn-dark {
  color: #fff;
  font-size: 13px;
  background-color: #05123c;
  font-family: "Rubik" !important;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 0.9rem;
  border: 2px solid #3b3564;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-dark:hover {
  background-color: #3b3564;
}
.btn-light {
  color: #928fac;
  font-size: 13px;
  background-color: transparent;
  font-family: "Rubik" !important;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 0.9rem 1.5rem;
  border: 2px solid #e6eaf9;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-light:hover {
  background-color: #3b3564;
  color: #fff;
}
.cube {
  animation: rotatedelement 5s linear infinite;
}
.movedelement {
  animation: movedelement 8s linear infinite;
}
.movedelement2 {
  animation: movedelement2 8s linear infinite;
}
.video-section {
  background-image: url("../img/bg-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.-z-1 {
  z-index: -1 !important;
}
@media screen and (max-width: 640px) {
  .video-section {
    background-size: unset;
  }
}
@media screen and (max-width: 1280px) {
  .header-bg {
    height: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .header-bg {
    height: 80%;
  }
}
