.header {
  background-image: url("../img/top_bg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.item-dropdown::after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 17px;
  margin-left: 7px;
  vertical-align: middle;
}
.sub-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 15px;
  z-index: 2;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-45deg) translateY(1rem);
  -ms-transform: rotate(-45deg) translateY(1rem);
  transform: rotate(-45deg) translateY(1rem);
  border-radius: 3px;
  background: #fff;
  box-shadow: none;
}
.navbar li a:hover + .sub-menu , .sub-menu:hover {
  display: block !important;
}
