html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

p {
  line-height: 27px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
}

:focus {
  outline: 0;
}

ul li {
  list-style: none;
}

body {
  direction: ltr;
  font-family: "Muli";
  background-color: #060606;
  color: #fff;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: 0.25;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

body::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  opacity: 0.25;
  background-image: linear-gradient(45deg, #fb5343, #6549d5);
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

button {
  all: unset;
}

.btn {
  border-radius: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:focus, .btn:hover, .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  padding: 0.625rem 1.875rem;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#f54e58), color-stop(50%, #e44095), color-stop(81%, #b242b4), to(#7c47cb));
  background-image: linear-gradient(to right, #f54e58 0%, #e44095 50%, #b242b4 81%, #7c47cb 100%);
  color: #fff;
  border: none;
}

.btn-default:hover {
  color: #fff;
  background-position: right center;
}

.btn-transparent {
  color: #fff;
  background: transparent;
  border: 2px solid #ffffff17;
}

.btn-transparent:hover {
  color: #fff;
  background: #fb5343ed;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background: transparent;
  color: #fff;
  z-index: 100;
}

header .navbar {
  border-bottom: 1px solid #ffffff17;
  padding: 0;
}

header .navbar-brand {
  display: inline-block;
  padding: 0;
}

header .navbar-brand img {
  width: 7.8125rem;
}

header .navbar-nav .nav-item .navbar-sub-menu {
  visibility: hidden;
  min-width: 15rem;
  position: absolute;
  top: 4.75rem;
  background-color: #0f0f11;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

header .navbar-nav .nav-item .navbar-sub-menu li a {
  display: block;
  font-size: 0.875rem;
  font-family: "Rubik";
  color: #fff;
  padding: 10px;
  border-radius: 0.1875rem;
}

header .navbar-nav .nav-item .navbar-sub-menu li a:hover {
  color: #666cd6;
  background-color: #000000;
}

header .navbar-nav .nav-item .navbar-sub-menu:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar-nav .nav-item .nav-link {
  position: relative;
  font-family: "Rubik";
  margin: 0 1.5rem;
  font-size: 1rem;
  padding: 1.875rem 0;
}

header .navbar-nav .nav-item .nav-link:not(.active):hover {
  color: #666cd6;
}

header .navbar-nav .nav-item .nav-link:hover + .navbar-sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .global__title {
  text-align: center;
}

main section .global__title .global__bg--black {
  display: inline-block;
  background-color: #0f0f11;
  padding: 4px 7px;
  margin: 0 auto 20px auto;
  border-radius: 3px;
}

main section .global__title .global__bg--black span {
  background: linear-gradient(95deg, #059dffed 15%, #6549d5 45%, #e33fa1f0 75%, #fb5343e3) 98%/200% 100%;
  font-family: "Rubik";
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/bg-image-18.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-image-18.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

main section .intro__title {
  font-size: 4.5rem;
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
}

main section .intro__title span {
  background: linear-gradient(95deg, #059dffed 15%, #6549d5 45%, #e33fa1f0 75%, #fb5343e3) 98%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .intro__description {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #d4d4d4c3;
}

main section .intro__buttons {
  margin-top: 1.25rem;
}

main section .intro__buttons .btn {
  font-size: 20.8px;
  padding: 1.15rem 2.5rem;
  margin: 0 0.625rem;
}

main section .business-stratagy {
  padding: 4.375rem 0;
}

main section .business-stratagy__tabs {
  margin-top: 3.25rem;
}

main section .business-stratagy__tabs li {
  display: inline-block;
}

main section .business-stratagy__tabs li button {
  display: block;
  font-size: 1.2rem;
  padding: 1.5rem 2.5rem;
}

main section .business-stratagy__tabs li button.active {
  background-color: #1e1e1e;
}

main section .business-stratagy__items-box {
  background-color: #1e1e1e;
  padding: 1.25rem;
}

main section .business-stratagy__items-box--intro-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main section .business-stratagy__items-box--intro-box p {
  color: #a6a6a6;
  margin: 0.825rem 0;
}

main section .business-stratagy__items-box--box {
  background: #0f0f11;
  padding: 1.25rem;
}

main section .business-stratagy__items-box--box img {
  width: 100%;
  margin-bottom: 0.625rem;
}

main section .business-stratagy__items-box--box h4 {
  font-size: 19.2px;
  margin: 0.625rem 0;
}

main section .business-stratagy__items-box--box h4 a {
  color: #fff;
}

main section .business-stratagy__items-box--box h4 a:hover {
  color: #666cd6;
}

main section .business-stratagy__items-box--box p {
  color: #65676b;
  margin-bottom: 0.625rem;
}
/*# sourceMappingURL=style.css.map */